* {
    list-style: none;
}

#app {
    width: 80%;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 30px;
    width: 100%;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 24px;
}

.commodity {
    width: 70%;
    margin: auto;
}

.title {
    font-size: 16px;
}

.commodity .item,
.commodity .count {
    display: flex;
    flex: wrap;
    align-items: center;
}

.commodity .item {
    margin-top: 30px;
}

input {
    width: 40%;
    height: 40px;
}

.commodity .item div {
    width: 20%;
}

.commodity .item img {
    width: 100%;
    vertical-align: sub;
}

.commodity .count {
    justify-content: space-evenly;
}

.commodity button {
    width: 40px;
    height: 40px;
}

.commodity .price {
    text-align: center;
}

.commodity .XX {
    text-align: center;
    font-size: 24px;
}

li {
    text-align: right;
}